body{
                background: linear-gradient(270deg, rgb(54, 54, 54), black);
                background-size: 300% 300%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 35px;
                user-select: none;
            }
            button{
                color: white;
                border-radius: 100%;
                border: none;
                height: 40px;
                width: 40px;
                background-color: rgb(61, 61, 61);
                font-size: 20px;
                cursor: pointer;
                transition: 0.25s;
            }
            button:hover{
                background-color: white;
                color: black;
                border: black solid 1px;
            }
            button:active{
                background-color: rgb(61, 61, 61);
                color: white;
            }
            p{
                margin: 0;
            }
            .js-calculation{
                color: white;
                font-weight: 600;
            }
            .operator{
                background-color: rgb(255, 153, 1);
            }
            .operator:active{
                background-color: rgb(255, 153, 1);
                color: white;
            }
            .grid-all{
                display: grid;
                row-gap: 8px;
            }
            .grid-p{
                display: grid;
                grid-template-columns: 50px 50px 50px 50px;
                align-items: center;
            }
            .calculation-write{
                background-color: rgb(27, 27, 27);
                padding: 2px 10px;
                border: none;
                border-radius: 10px;
            }
            .backspace-btn{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .backspace-icon{
                height: 25px;
                stroke: rgb(255, 255, 255);
                background-color: transparent;
            }